{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}
<section class="pt-90 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <!-- section title -->
                <div class="section-title text-center">
                    <br>
                    <br>
                    <!-- <span class="schoolbell">Contact Us</span> -->
                    <h2>Login Here</h2>
                </div>
                <!-- End of section title -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <!-- contact form -->
                <div class="contact-form contact-page-form ">
                    <form action="" class="contact-form-validated" method="post">
                        {% csrf_token %}
                        <!-- {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} -->
                        <div class="row">
                            
                            <div class="col-md-12">
                                <input type="email" name="email" placeholder="Email Address"
                                    class="theme-input-style" required>
                            </div>
                            <div class="col-md-12">
                                <input type="password" name="password" placeholder="Password" class="theme-input-style"
                                    required>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                
                                <div class="submite-btn text-center">
                                    <button type="submit" class="btn">Sign In</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--/.form-->
                </div>
                </div>
                </div>
                </div>
                </section>

 {% endblock %}